<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="stam.webserviceGeneral" value="http://loveburn.com/school/webserviceGeneral.asmx"/>
    <add key="IsraelCities.WebServiceCities" value="http://www.loveburn.com/school/WebServiceCities.asmx"/>
  <add key="WebService.WebService" value="http://localhost:50088/WebService.asmx"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>